<mat-toolbar class="bgHeader">
  <ul>
    <a *ngIf="_userService.loginId()" routerLink="listTask">List Task</a>
  </ul>
  <ul>
    <a *ngIf="_userService.loginId()" routerLink="saveTask">Create Tasks</a>
  </ul>
  <ul>
    <a *ngIf="_userService.loginId()" routerLink="listUser">Admin</a>
  </ul>
  <span class="headerSpacer"> </span>
  <ul>
    <a  *ngIf="!_userService.loginId()" mat-button routerLink="signUp">Sign Up </a>
    <a  *ngIf="!_userService.loginId()" mat-button routerLink="login">Login </a>
    <a  *ngIf="_userService.loginId()"  (click) = "_userService.logout()" mat-button> Logout </a>
  </ul>
</mat-toolbar>
